@if(dataResource.hasValue()) { @let keys = keys$();

<table aria-label="User details table">
  <caption>
    Users table
  </caption>
  <thead>
    <tr>
      @for (key of keys; track $index) {
      <th scope="col" (click)="setSortVars(key)">
        {{ key | titlecase }}
        @if(currentSortField$() === key) { ({{
          sortDirection$() === "asc" ? "↑" : "↓"
        }}) }
      </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (user of visibleEntities$(); track user.id) {
    <tr>
      @for (key of keys; track $index) {
      <td>
        {{ user[key] }}
      </td>
      }
    </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <app-paginator
        [totalPages$]="totalPages$()"
        [(currentPage$)]="currentPage$"
        [(pageSize$)]="pageSize$"
      ></app-paginator>
    </tr>
  </tfoot>
</table>

} @else if (dataResource.error()) {
<p>Could not load user information</p>
} @else if (dataResource.isLoading()) {
<p aria-live="polite" role="status">Loading user info...</p>
}
