@let dataResource = dataResource$(); @if(dataResource?.hasValue()) { @let keys =
keys$();

<table aria-label="User details table">
  <thead>
    <tr>
      @for (key of keys; track $index) {
      <th scope="col" (click)="sortService.setSortField(key)">
        {{ key.toString() | titlecase }}
        @if(sortService.currentSortField$() === key) { ({{
          sortService.sortDirection$() === "asc" ? "↑" : "↓"
        }}) }
      </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (entity of visibleEntities$(); track trackByFn(entity, $index)) {
    <tr>
      @for (key of keys; track $index) {
      <td>
        {{ entity[key] }}
      </td>
      }
    </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <app-paginator
        [totalPages$]="totalPages$()"
        [(currentPage$)]="currentPage$"
        [(pageSize$)]="pageSize$"
      ></app-paginator>
    </tr>
  </tfoot>
</table>

} @else if (dataResource.error()) {
<p>Could not load user information</p>
} @else if (dataResource.isLoading()) {
<p aria-live="polite" role="status">Loading user info...</p>
}
